
.header {
    background-image: linear-gradient(to right,#93acdb, #d7eaf9, #88c4ec);
    width: 100%;
    height: 350px;
    margin: 0px;
}

.title {
    color: white;
    font-family: 'Open Sans', 'Helvetica', sans-serif;
    font-size: 300%;
    font-weight: bolder;
    margin-left: 150px;
}
